.box-client {
  display: flex;
  justify-content: center;
  & .client-item:not(:last-child) {
    margin-right: 30px;
  }
}
.client-logo {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-gray;
  border-radius: 4px;
  fill: $color-gray;
  transition: border $trans-function, fill $trans-function;
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: $color-changes;
    fill: $color-changes;
  }
}
